/* :root {
	--custom-app-top-bar-height: 32px;
} */

/* Channel Name/Topic */
.children__9293f {
	/* Ensure titlebar has at least 40% blank for window grab area */
	margin-right: 40% !important;
	/* Fix gradient to fade overflow (was incorrect color, use mask instead) */
	mask-image: linear-gradient(to right, black calc(100% - var(--space-sm)), transparent 100%);
	&::after {
		content: unset;
	}

	/* Channel additional topic information */
	.topic__6ec1a {
		text-overflow: clip !important;

		/* Hover on clickable topic */
		&:has(.topicClickTarget__6ec1a:hover) {
			color: var(--text-strong);
		}

		/* Prevent window being dragged when attempting to open topic modal */
		& > .topicClickTarget__6ec1a {
			-webkit-app-region: no-drag !important;
			pointer-events: unset;
		}

		/* Ensure mask doesn't clip non-overflowed content */
		& > span {
			padding-right: var(--space-sm) !important;
		}
	}

	/* Channel "Follow" button for announcement channels */
	.followButton_f75fb0 {
		margin-inline-end: 0 !important;

		& > button {
			/* Prevent window being dragged when attempting to click the button */
			-webkit-app-region: no-drag !important;

			/* Fix "Follow" height button in compact titlebars */
			& > .buttonChildrenWrapper_a22cb0 {
				min-height: 0 !important;
			}
		}
	}
}

/* Title bar positioning within window controls & navigation buttons */
.base__5e434 {
	anchor-scope: --bar-anchor;

	/* Window name titlebar text */
	& > .bar_c38106 > .title_c38106 {
		position: static;
		flex: 1;
		height: 100%;
		gap: var(--space-md);
		
		&::after {
			content: '';
			height: 100%;
			flex: 1;
			anchor-name: --bar-anchor;
		}
	}
}
.title_f75fb0 {
	position: fixed;
	left: anchor(--bar-anchor left);
    right: anchor(--bar-anchor right);
    top: anchor(--bar-anchor top);
    bottom: anchor(--bar-anchor bottom);
	width: unset;
	height: unset;
	min-height: 0;
	padding: unset !important;
	margin: unset !important;
	background: transparent !important;
	border: none !important;

	/* Ensure toolbar buttons & searchbar doesn't shrink */
	.toolbar__9293f {
		flex: 1 0 auto;
		justify-content: end;
	}

	/* Fix searchbar height in compact titlebars */
	.searchBar_c322aa {
		max-height: calc(var(--custom-app-top-bar-height) - 8px) !important;
		padding: 0;

		& > .DraftEditor-root,
		& > .DraftEditor-root * {
			line-height: min(22px, var(--custom-app-top-bar-height) - 12px) !important;
			height: min(22px, var(--custom-app-top-bar-height) - 12px) !important;
			padding-block: 0 !important;
		}
	}
}
